#toastContainer {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toast {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
    transition: opacity 0.3s;
    min-width: 200px; 
    text-align: center; 
}

.toast-sucesso {
    background-color: #4caf50; 
}

.toast-erro {
    background-color: #f44336; 
}

.toast p {
    margin: 0;
}

.toast:hover {
    opacity: 1;
}
